* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  background-color: #eee;
}
h1 {
  text-align: center;
}
#main {
  width: 502px;
  margin: 30px auto;
  padding: 0;
}
#matchdata select {
  display: block;
  margin: 20px auto;
  padding: 5px;
  min-width: 100%;
  color: #333;
  font-size: 15px;
  font-weight: 900;
  text-align-last: center;
}
#matchdata p {
  padding: 0 10px;
  font-weight: 600;
}
#matchdata p span {
  font-weight: normal;
}

@media (max-width: 768px) {
  body { font-size: 12px; }
  #main { width: 342px; }  
  #flag { height: 172px; }  
  #info select { font-size: 12px; font-weight: 600; }
}